#webcam-wrapper {
  width: 416px;
  height: 416px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.rect {
  position: absolute;
  border: 1px solid red;
  font-size: 24px;
}
.rect .label {
  background: white;
  color: black;
}
